[layout]
data_dir = <HOME>/.kartka
scan_dir = <DOWNLOADS>/kartka
drive_credentials = ${data_dir}/credentials.json

[search]
collection_name = letters
bucket_name = default
sonic_host = 127.0.0.1
sonic_port = 1491
sonic_password = SecretPassword

[store]
drive_kartka_dir = kartka